@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau SC', sans-serif;
}

html, body, .wrapper {
    min-height: 100%;
}

a {
    text-decoration: none;
    color: none;
}

.space {
    padding-right: 20px;
}

.text-highlight {
    color: rgb(250, 135, 240);
}

body {
    background-color: #140021;
    color: #ffffff;
    background-position: unset;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    text-align: center;
}

.animated-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
}

.letter {
    transition: 0.4s;
    transform: translateX(0);
    cursor: grab;
    color: #ffffff;
    font-weight: bold;
}

.letter:hover {
    cursor: pointer;
    transform: translateY(-1rem);
    background: -webkit-linear-gradient(120deg, hsl(290, 71%, 51%), hsl(298, 91%, 27%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.layout {
    display: flex;
    padding-bottom: 20px;
}

.profile-photo img {
    width: 250px;
    border-radius: 10px;
    border: solid 2px rgb(250, 135, 240);
}

.social-links {
    display: block;
    padding: 10px;
}

.social-links a {
    color: #fff;
}

.social-links a svg {
    height: 4.5rem;
    width: 40px;
}

svg:hover {
    scale: 1.1;
    transition: 0.2s ease-out;
    cursor: pointer;
    color: rgb(250, 135, 240);
}

.profile-text {
    padding-left: 20px;
}

.profile-text h2 {
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.profile-text p {
    text-align: justify;
    padding-bottom: 10px;
}

.project-title {
    text-align: center;
}

.project-link {
    display: flex;
    justify-content: space-between;
}

.sites {
    padding: 20px;
}

.sites img {
    width: 200px;
    height: 130px;
    border-radius: 20px;
    border: solid 3px rgb(250, 135, 240);
}

.sites p {
    font-size: 16px;
    color: #fff;
    padding-bottom: 10px;
    font-weight: bold;
}

.sites button {
    display: block;
    width: 100%;
    padding: 6px 0;
    border: none;
    font-weight: bold;
    background-color: rgb(250, 135, 240);
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    border: solid 3px #fff;
}

.sites button:hover {
    scale: 1.1;
    transition: 0.2s ease-out;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 80%;
    }
    
    .layout {
      display: block;
    }
    
    .profile-photo {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .profile-photo img {
      width: 100%;
      max-width: 250px;
      height: auto;
    }

    .social-links {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .social-links svg {
        padding: 5px;
    }
    
    .project-link {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .sites img {
      width: 100%;
      height: auto;
    }
}
  
@media (max-width: 768px) {
    .container {
        max-width: 640px;
        width: 80%;
    }

    .layout {
        display: block;
    }

    .profile-photo {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .profile-photo img {
        width: 100%;
        max-width: 40%;
    }

    .social-links {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social-links svg {
        padding: 5px;
    }

    .profile-text {
        padding-left: 0;
        padding-right: 20px;
    }
      
    
    .project-link {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .project-link img {
        width: 100%;
        height: 100%;
    }
}
